*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    line-height: normal;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



.background {
    background-color: #122448;
    height: 100%;
    width: 100%;
}


.copyrightContainer {
    position: absolute;
    height: 14.%;
    width: 10.99%;
    top: 90.33%;
    left: 44.48%;
    font-size: 8px;
    line-height: 133.17%;
    font-family: 'Lato',sans-serif;
    text-align: center;
    display: inline-block;
}
.terms-conditions {
    position: absolute;
    height: 24.8%;
    width: 27.66%;
    top: 1.98%;
    left: 37.68%;
    line-height: 133.17%;
    font-weight: 200;
    display: inline-block;
    cursor: pointer;
}
.purchasing-guides {
    position: absolute;
    height: 24.8%;
    width: 27.66%;
    top: 2.64%;
    left: 72.34%;
    line-height: 133.17%;
    font-weight: 200;
    display: inline-block;
    cursor: pointer;
}
.faq {
    position: absolute;
    height: 24.8%;
    width: 27.66%;
    top: 36.87%;
    left: 0%;
    line-height: 133.17%;
    font-weight: 200;
    display: inline-block;
    cursor: pointer;
}
.privacy-policy {
    position: absolute;
    height: 24.8%;
    width: 27.66%;
    top: 38.86%;
    left: 37.68%;
    line-height: 133.17%;
    font-weight: 200;
    display: inline-block;
    cursor: pointer;
}


.contact-us {
    position: absolute;
    height: 24.8%;
    width: 27.66%;
    top: 0%;
    left: 0%;
    line-height: 133.17%;
    font-weight: 200;
    display: inline-block;
    cursor: pointer;
}
.legallinks {
    position: absolute;
    height: 70.18%;
    width: 100%;
    top: 29.82%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    font-size: 14px;
}
.who-are-we {
    position: absolute;
    height: 24.%;
    width: 27.66%;
    top: 0%;
    left: 0%;
    line-height: 181.1%;
    font-weight: 600;
    display: inline-block;
    font-size: 20px;
}
.legal-terms {
    position: absolute;
    height: 24.76%;
    width: 27.66%;
    top: 0%;
    left: 37.68%;
    line-height: 181.1%;
    font-weight: 600;
    display: inline-block;
    font-size: 20px;
}
.guides {
    position: absolute;
    height: 24.76%;
    width: 27.66%;
    top: 0%;
    left: 72.34%;
    line-height: 181.1%;
    font-weight: 600;
    display: inline-block;
    font-size: 20px;
}
.legal {
    position: absolute;
    height: 48.07%;
    width: 25.99%;
    top: 17.33%;
    right: 13.54%;
    bottom: 34.6%;
    left: 60.47%;
}
.branches1 {
    position: absolute;
    height: 17.15%;
    width: 41.82%;
    top: 0%;
    left: 0%;
    line-height: 181.1%;
    font-weight: 600;
    display: inline-block;
}
.branchaddresses {
    position: absolute;
    height: 81.27%;
    width: 99.39%;
    top: 18.73%;
    left: 0.61%;
    font-size: 12px;
    line-height: 133.17%;
    font-weight: 500;
    display: inline-block;
}
.branches {
    position: absolute;
    height: 69.4%;
    width: 17.19%;
    top: 17.33%;
    right: 42.24%;
    bottom: 13.27%;
    left: 40.57%;
}
.follow-us {
    position: absolute;
    top: 2.74%;
    left: 0%;
    line-height: 144.88%;
    font-weight: 600;
}
.div {
    position: absolute;
    height: 28.77%;
    width: 29.19%;
    top: 39.73%;
    left: 64.21%;
    font-size: 12px;
    line-height: 133.17%;
    font-weight: 500;
    display: inline-block;
}
.homelabsolgmailcom {
    position: absolute;
    height: 28.77%;
    width: 35.28%;
    top: 71.23%;
    left: 64.72%;
    font-size: 12px;
    line-height: 133.17%;
    font-weight: 500;
    display: inline-block;
}
.contact-us1 {
    position: absolute;
    top: 0%;
    left: 58.88%;
    line-height: 133.17%;
    font-weight: 600;
}
.companyinfo {
    position: absolute;
    height: 24.33%;
    width: 20.52%;
    top: 57%;
    right: 63.18%;
    bottom: 18.67%;
    left: 16.3%;
    font-size: 13px;
}
.rpc-logo-2 {
    position: absolute;
    top: -25px;
    left: 283px;
    width: 400px;
    height: 300px;
    object-fit: contain;
}

.soclinks {
    position: absolute;
    height: 8.67%;
    width: 5.65%;
    top: 66.33%;
    right: 78.05%;
    bottom: 25%;
    left: 16.3%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.gmail-icon {
    position: absolute;
    height: 5.03%;
    width: 1.04%;
    top: 74.33%;
    right: 70.63%;
    bottom: 20.63%;
    left: 28.33%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.call-icon {
    position: absolute;
    top: 195px;
    left: 542px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.bx-location-plus-icon {
    position: absolute;
    top: 91px;
    left: 755px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.footer {
    position: relative;
    top: 2061px;
    left: 0px;
    width: 1920px;
    height: 300px;
    text-align: left;
    color: #fff;
    overflow-y: auto;
}

footer{
    z-index: 10;
}