	/* Sticky Footer CSS */
	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
	
	html, body {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	
	.content {
		flex: 1; /* Expands to fill space above the footer */
	}
	
	.footerContainer {
		width: 100%;
		background-color: #122448;
		color: #fff;
		font-family: 'Lato', sans-serif;
		padding: 20px 0;
	}
	
	.footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		max-width: 1200px;
		margin: 0 auto;
		padding: 20px;
	}
	
	.logo-section, .contact-section, .branches, .links-section {
		flex: 1 1 200px;

	}

	.contact-section {
		margin-top: 90px;
		margin-left: 0px;
		text-align: justify;
	}
	
	
	.logo-section {
		text-align: left;
	}
	
	.rpc-logo {
		width: 250px;
		margin-bottom: 10px;

	}
	
	.follow-us {
		text-align: left;
		font-weight: bold;
		margin-bottom: 5px;
	}
	
	.soclinks {
		text-align: left;
		width: 100px;
		margin: 5px 0;
	}
	
	.contact-section p, .branches p, .links-section p {
		font-size: 14px;
		margin: 5px 0;
	
	}
	
	.phone, .email {
		display: flex;
		align-items: center;
	}
	
	.phone img, .email img {
		width: 15px;
		margin-right: 5px;
	}
	
	.branches-title, .contact-title, .section-title {
		font-size: 30px;
		font-weight: bolder;
		margin-bottom: 5px;
	}


	
	.links-section div {
		margin-bottom: 15px;
	}
	
	.footer-bottom {
		text-align: center;
		font-size: 12px;
		margin-top: 20px;
	}
	
	.footer-bottom p {
		margin: 5px 0;
	}

	/* Adjust links layout to align vertically within each section */
	.links-container {
		padding-top: 20px;
		display: flex;
		justify-content: flex-start;
		margin-right: 10px;
	}

	.links-container .links-section {
		flex: none;
		margin: 0 10px;
	}

	.horizontal-links {
		display: flex;
		flex-direction: column; /* Arrange links vertically */
		gap: 10px; /* Space between each link */
		font-weight: 300;
	}

	.horizontal-links a {
		text-decoration: none;
		color: #fff;
		font-size: 14px; /* Adjust font size as needed */

	}

	/* Responsive Layout for Smaller Screens */
	@media (max-width: 768px) {
		.footer {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		
		.logo-section, .contact-section, .branches, .links-section {
			text-align: center;
			margin: 10px 0;
		}
		
		.rpc-logo, .soclinks {
			width: 100px;
		}
	}