.brand-logo {
    height: 90px; /* Adjust height as needed */
    margin-right: 100px; /* Add spacing between logos */
}

.brand-logo-container {
    padding: 25px;
    display: flex;
    overflow: hidden; /* Hide content outside the container */
    position: relative;
}

.brand-logo-wrapper {
    display: flex;
    animation: marquee 120s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Optional: Add custom styles if needed */
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 218px; height: 268px;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 16px;
  }
  
  .card-text {
    font-size: 14px;
    color: #888;
  }