.brand-logo {
    height: 90px; /* Adjust height as needed */
    margin-right: 100px; /* Add spacing between logos */
}

body {
  background-color: #EFEFEF;
}

.brand-logo-container {
    padding: 25px;
    display: flex;
    overflow: hidden; /* Hide content outside the container */
    position: relative;
}

.brand-logo-wrapper {
    display: flex;
    animation: marquee 120s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Optional: Add custom styles if needed */
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%; height: 100%;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}
  
.card-title {
    font-size: 16px;
}
  
.card-text {
    font-size: 14px;
    color: #888;
}

.carousel-inner {
  margin-top: 3%;
  margin-bottom: 4%;
}

.py-4 {
  position: relative;
  margin-top: 4%;
  background-color: #FFFFFF;
  z-index: 1; /* Ensure the content is above the pseudo-element */
}

.py-4::before {
  content: "";
  position: absolute;
  top: 0;
  left: -35%; /* Adjust this value to widen the background */
  right: 0%; /* Adjust this value to widen the background */
  bottom: 0;
  background-color: #FFFFFF;
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}

.mb-4 {
  font-weight: bold;
}

.row {
  gap: 10px; /* Adds space between columns */
  justify-content: center; /* Centers cards horizontally */
}

.container {
  max-width: 100%;
}