.brand-logo {
    height: 90px; /* Adjust height as needed */
    margin-right: 100px; /* Add spacing between logos */
}

.brand-logo-container {
    padding: 25px;
    display: flex;
    overflow: hidden; /* Hide content outside the container */
    position: relative;
}

.brand-logo-wrapper {
    display: flex;
    animation: marquee 60s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

